* {
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    margin-right: 30px;
}

.style {
    background-image: linear-gradient(rgb(255, 240, 108), rgb(255, 174, 0), rgba(255, 240, 108)), url(../Honeycomb.jpg);
    background-position: center;
    background-size: cover;
    height: 500vh;
    width: 800vh;
    font-family: sans-serif;
}

.navbar {
    width: 95%;
    height: auto;
    margin-right: 30px;
}

.menu {
    float: left;
    height: 70px;
    margin-right: 10px;
    margin-top: 10px;
}

ul {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: rgb(131, 90, 37);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease;
}

ul li a:hover {
    color: rgb(231, 179, 119);
    
}

.search-box {
    float: right;
    width: 150px;
    background: rgb(228, 177, 66);
    height: 20px;
    padding: 20px;
    padding-top: 4px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 25px;
    margin-inline-end: 80px;
    
}


.search-box .search-txt {
    width: 98px;
    padding: 6px;
    margin-left: 10px;
}

.search-btn {
    text-decoration: none;
    background: rgb(228, 177, 66);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: 6px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.btn {
    text-decoration: none;
    background: rgb(138, 94, 0);
    color: rgb(255, 255, 255);
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 180px;
}
