*{
    margin: 0px;
    padding: 0px;
}

.style{
    background-image: linear-gradient(rgb(255, 240, 108),rgb(255, 174, 0),rgba(255, 240, 108)), url(../Honeycomb.jpg);
    background-position: center;
    background-size: cover;
    height: 500vh;
    width: 800vh;
    font-family: sans-serif; 
}